/* @config "../tailwind.config.js"; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


::-webkit-scrollbar {
  width: 0px;
}

.body{
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'HarryP';
  src: url('./components/LoginPage_Preet/assets/HARRYP__.TTF') format('truetype');
}

::-webkit-scrollbar {
  width: 0px;
}

.body{
  scroll-behavior: smooth;
}