/* @config "../tailwind.config.js"; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


::-webkit-scrollbar {
  width: 0px;
}

.body{
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'HarryP';
  src: url('./components/LoginPage_Preet/assets/HARRYP__.TTF') format('truetype');
}

::-webkit-scrollbar {
  width: 0px;
}

.body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Add a black overlay and linear gradient for all sections */
.overlay-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  z-index: 1;
}

.overlay-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* Black overlay */
  z-index: 2;
}

.overlay-section > * {
  position: relative;
  z-index: 3; /* Ensure content is above the overlay */
}



